<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Admin}}</title>
</head>
<body>
    {% if messages %}
        {% for email,data in messages.items() %}
            <div>
                <h3>Email: {{email}}</h3>
                <h4>Firstname: {{data["firstname"]}}</h4>
                <h4>Lastname: {{data["lastname"]}}</h4>
                <h4>Message: {{data["message"]}}</h4>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>